<x-wrapper>
  <h1>Circles</h1>

  <p>
    <x-button preset="positive" (onClick)="circlesActions.saveCircleModal()">Add new! :)</x-button>
  </p>

  <x-box *ngFor="let circle of (circlesItems$ | async)">
    <x-box-header>
      {{circle.createdAt}}
    </x-box-header>

    <x-box-content>
      <h1>{{circle.name}}</h1>
      <div>
        <x-button size="normal" preset="neutral"
          (onClick)="circlesActions.updateCircleModal(circle)">Edit</x-button>
        <x-button size="normal" preset="negative"
          (onClick)="circlesActions.removeCircleConfirm(circle)">Delete</x-button>
      </div>
    </x-box-content>
  </x-box>
</x-wrapper>

<x-dialog-confirm *ngIf="isRemoveCircleConfirmVisible$ | async"
  (onConfirm)="handleRemoveCircle()"
  (onCancel)="circlesActions.removeCircleConfirmCancel()">
  You are going to remove:<br/>
  <strong>{{removeCircleItemName$ | async}}.</strong><br/>
  Are you sure?
</x-dialog-confirm>

<x-modal-form *ngIf="isUpdateCircleModalVisible$ | async">
  <x-form-message preset="error" *ngIf="isUpdateCircleError$ | async">Error occured!</x-form-message>
  <qt-account-circle-edit-form
    [circleModel]="updateCircleItem$ | async"
    (onSubmit)="circlesActions.updateCircle($event)"
    (onCancel)="circlesActions.updateCircleModalCancel()">
  </qt-account-circle-edit-form>
</x-modal-form>

<x-modal-form *ngIf="isSaveCircleModalVisible$ | async">
  <x-form-message preset="error" *ngIf="isSaveCircleError$ | async">Error occured!</x-form-message>
  <qt-account-circle-add-form
    (onSubmit)="circlesActions.saveCircle($event)"
    (onCancel)="circlesActions.saveCircleModalCancel()">
  ></qt-account-circle-add-form>
</x-modal-form>
