<x-wrapper>
  <h1>Circles</h1>

  <x-box>
    <x-box-header>
      Create new Circle
    </x-box-header>
    <x-box-content>
      <x-form-message preset="success" *ngIf="isSaveCircleSuccess$ | async">Successfully saved.</x-form-message>
      <x-form-message preset="error" *ngIf="isSaveCircleError$ | async">Error occured!</x-form-message>
      <qt-account-circle-add-form (onSubmit)="circlesActions.saveCircle($event)"></qt-account-circle-add-form>
    </x-box-content>
  </x-box>

  <x-list>
    <x-list-item *ngFor="let circle of (circlesItems$ | async)">
      <x-list-item-content>
        <h1>{{circle.name}}</h1>
      </x-list-item-content>

      <x-list-item-actions>
        <x-button size="normal" preset="neutral"
          (onClick)="circlesActions.showUpdateCircleModal(circle)">Edit</x-button>
        <x-button size="normal" preset="negative"
          (onClick)="circlesActions.showRemoveCircleConfirm(circle)">Delete</x-button>
      </x-list-item-actions>

    </x-list-item>
  </x-list>

</x-wrapper>

<x-dialog-confirm *ngIf="isRemoveCircleConfirmVisible$ | async"
  (onConfirm)="handleRemoveCircle()"
  (onCancel)="circlesActions.removeCircleConfirmCancel()">
  You are going to remove:<br/>
  <strong>{{removeCircleItemName$ | async}}.</strong><br/>
  Are you sure?
</x-dialog-confirm>

<x-modal-form *ngIf="isUpdateCircleModalVisible$ | async">
  <x-form-message preset="error" *ngIf="isUpdateCircleError$ | async">Error occured!</x-form-message>
  <qt-account-circle-edit-form (onSubmit)="circlesActions.updateCircle($event)"
    (onCancel)="circlesActions.updateCircleModalCancel()">
  </qt-account-circle-edit-form>
</x-modal-form>
