<x-form [formModel]="form" (onSubmit)="handleSubmit()">
  <x-form-content>
    <x-form-group>
      <x-form-input [formControl]="name" placeholder="Name" type="text"></x-form-input>
    </x-form-group>
    <x-form-group>
      <x-form-textarea [formControl]="content" placeholder="Quote"></x-form-textarea>
    </x-form-group>
    <x-form-group>
      <x-form-input [formControl]="url" placeholder="Url" type="text"></x-form-input>
    </x-form-group>
  </x-form-content>
  <x-form-actions>
    <x-button preset="positive" type="submit">Send</x-button>
  </x-form-actions>
</x-form>
