<x-wrapper>
  <h1>Users</h1>
  <ul>
    <li *ngFor="let user of usersUsers.items">
      {{ user.email }}
      <x-button (onClick)="usersActions.invite(user)">invite</x-button>
      <x-button (onClick)="usersActions.showFollowModal(user)">follow</x-button>
    </li>
  </ul>
</x-wrapper>

<x-modal-form *ngIf="usersFollow.isModalVisible">
  <qt-account-circles-select-form (onSubmit)="handleFollow($event)"
    (onCancel)="usersActions.followModalCancel()"></qt-account-circles-select-form>
</x-modal-form>
