<x-wrapper>
  <h1>Users</h1>

  <x-tabs>
    <x-tab [active]="filter === ''">
      <a [routerLink]="['/account/users']">All</a>
    </x-tab>
    <x-tab [active]="filter === 'following'">
      <a [routerLink]="['/account/users', {filter: 'following'}]">Following</a>
    </x-tab>
  </x-tabs>

  <x-list>
    <x-list-item *ngFor="let user of (usersItems$ | async).toJS()">
      <x-list-item-content>
        {{user.profile.first_name}} {{user.profile.last_name}} {{user.email}}
      </x-list-item-content>
      <x-list-item-actions *ngIf="user._id !== (userId$ | async)">
        <x-button *ngIf="!user.followed" (onClick)="usersActions.follow(user)"
                  preset="positive" size="small">follow</x-button>
        <x-button *ngIf="user.followed" (onClick)="usersActions.unfollow(user)"
                  preset="negative" size="small">unfollow</x-button>
      </x-list-item-actions>
    </x-list-item>
  </x-list>
</x-wrapper>
