<x-toolbar>
  <h1>Users</h1>
</x-toolbar>

<x-wrapper class="main">
  <x-tabs>
    <x-tab [active]="filter === ''">
      <a [routerLink]="['/account/users']">All</a>
    </x-tab>
    <x-tab [active]="filter === 'following'">
      <a [routerLink]="['/account/users', {filter: 'following'}]">Following</a>
    </x-tab>
  </x-tabs>

  <x-indicator *ngIf="usersIsPending$ | async">wait...</x-indicator>

  <x-box *ngIf="(usersItems$ | async).toJS().length">
    <x-list>
      <x-list-item *ngFor="let user of (usersItems$ | async).toJS()">
        <x-list-item-content>
          <a [routerLink]="['/account/profile', user.username || user._id]">
            <span>{{user.username || user.email}}</span>
            <span *ngIf="user.profile.first_name || user.profile.last_name">
              ({{user.profile.first_name}} {{user.profile.last_name}})
            </span>
          </a>
        </x-list-item-content>

        <x-list-item-actions *ngIf="user._id !== (userId$ | async)">
          <x-button *ngIf="!user.followed" (onClick)="usersActions.follow(user)"
                    preset="positive" size="small">follow</x-button>

          <x-button *ngIf="user.followed" (onClick)="usersActions.unfollow(user)"
                    preset="negative" size="small">unfollow</x-button>
        </x-list-item-actions>
      </x-list-item>
    </x-list>
  </x-box>

  <div *ngIf="!(usersItems$ | async).toJS().length">
    <div *ngIf="!(usersIsPending$ | async)" [ngSwitch]="filter">
      <x-box *ngSwitchCase="'following'" class="tips">
        Nobody is followed. <a [routerLink]="['/account/users']">Get in touch with any other users!</a>
      </x-box>

      <x-box *ngSwitchDefault class="tips">
        No one on the list - You're first user! Back soon!
      </x-box>
    </div>
  </div>
</x-wrapper>
