@import '../../../assets/colors';

input {
  background: $white;
  border: .1rem solid $border;
  box-sizing: border-box;
  outline: 0;
  padding: 1.25rem 1.5rem;
  width: 100%;

  &:hover {
    border: .1rem solid darken($border, 10%);
  }

  &:focus {
    border: .1rem solid darken($border, 20%);
  }
}
