@import '../../../assets/colors';

:host {
  display: block;
  margin: 0 0 1.5rem;
}

div {
  padding: 1rem 1.5rem;
}

.error {
  background: $red;
  color: $white;
}

.success {
  background: $green;
  color: $white;
}
