@import '../../../assets/colors';
@import '../../../assets/variables.scss';

:host {
  x-form-content {
    display: block;
    padding: 2rem;

    x-form-group:last-child {
      margin: 0;
    }
  }

  x-form-actions {
    display: block;
    padding: 1rem 2rem;
    background: $background;
    margin: 0;

    x-button button {
      width: 10rem;
    }
  }
}
