<x-wrapper>
  <x-box>
    <x-box-header>Reset password</x-box-header>
    <x-box-content>
      <div *ngIf="isResetPasswordError$ | async" [ngSwitch]="resetPasswordErrorCode$ | async">
        <x-form-message preset="error" *ngSwitchDefault>
          Ups, error occured! Try again later.
        </x-form-message>
      </div>

      <x-form-message *ngIf="isResetPasswordSuccess$ | async" preset="success">
        OK! Check Your e-mail account!
      </x-form-message>

      <qt-user-reset-password-form (onSubmit)="userActions.resetPassword($event)"></qt-user-reset-password-form>
    </x-box-content>
  </x-box>
</x-wrapper>
