@import '../../assets/colors';
@import '../../assets/variables';

:host {
  display: inline-block;
}

button {
  outline: 0;
  background: transparent;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  background: linear-gradient(to bottom, @light 0%,  @grey-2 100%);
  border-radius: @radius;
  border: .1rem solid @grey-2;
  transition: .1s all linear;
}

.size-normal {
  padding: .75rem 1.5rem;
  font-size: 1.2rem;
}

.size-big {
  padding: 1rem 3rem;
  font-size: 1.5rem;
}

.preset-casual {
  color: @dark;
}

.preset-positive {
  color: @green-1;

  &:hover {
    border: .1rem solid @green-1;
  }
}

.preset-negative {
  color: @red-1;

  &:hover {
    border: .1rem solid @red-1;
  }
}
