@import '../../assets/colors';
@import '../../assets/variables';

:host {
  display: inline-block;
  vertical-align: top;

  /deep/ x-icon {
    display: inline-block;
    vertical-align: middle;
  }
}

.button {
  background: transparent;
  border: 0 none;
  border-radius: $radius;
  cursor: pointer;
  font-weight: 500;
  outline: 0;
  text-transform: uppercase;
}

.normal {
  font-size: 1.2rem;
  height: 3.8rem;
  padding: 0 2.5rem;
}

.big {
  font-size: 1.8rem;
  height: 5rem;
  padding: 0 4rem;
}

.normal,
.big {
  &.casual {
    background: $background;
    border-bottom: .2rem solid darken($background, 5%);
    color: $dark;
  }

  &.neutral {
    background: $blue;
    border-bottom: .2rem solid darken($blue, 10%);
    color: $white;

    &:hover {
      background: lighten($blue, 5%);
    }

    &:active {
      background: darken($blue, 5%);
    }
  }

  &.positive {
    background: $green;
    border-bottom: .2rem solid darken($green, 10%);
    color: $white;

    &:hover {
      background: lighten($green, 5%);
    }

    &:active {
      background: darken($green, 5%);
    }
  }

  &.negative {
    background: $red;
    border-bottom: .2rem solid darken($red, 20%);
    color: $white;

    &:hover {
      background: lighten($red, 5%);
    }

    &:active {
      background: darken($red, 5%);
    }
  }
}

.small {
  border: .1rem solid transparent;
  font-size: 1.2rem;
  height: 2.5rem;
  padding: 0 .85rem;

  &.normal {
    color: $text;
  }

  &.light {
    color: $white;

    &:hover {
      color: $dark;
    }
  }

  &.casual {
    color: $dark;
  }

  &.neutral {
    color: $blue;
  }

  &.positive {
    color: $green;
  }

  &.negative {
    color: $red;
  }

  &:hover {
    background: $white;
  }
}
