@import '../../assets/colors';

:host {
  display: block;
  height: 100vh;
  background: @light;
  width: 8rem;
  position: fixed;
  top: 0;
  left: 0;
}

x-menu {
  display: block;
}

x-menu-item {
  display: block;
  margin: 0;
}

x-menu-item a {
  color: @grey-2;
  display: block;
  padding: 2rem 0;
}

x-menu-item a:hover {
  background: @grey-1;
}
