<x-form [formModel]="form" (onSubmit)="handleSubmit($event)">
  <x-form-message>Type Your credentials to login.</x-form-message>

  <x-form-error *ngIf="submitted && (errorCode$ | async) === 422">
    Provided e-mail/password is incorrect.
  </x-form-error>

  <x-form-error *ngIf="submitted && (errorCode$ | async) === 404">
    Account not exist.
  </x-form-error>

  <x-form-group>
    <x-label>E-mail</x-label>
    <x-form-input [formControl]="email" type="email" autofocus="true"></x-form-input>
  </x-form-group>

  <x-form-group>
    <x-label>Password</x-label>
    <x-form-input [formControl]="password" type="password"></x-form-input>
  </x-form-group>

  <x-form-actions>
    <x-button size="big" type="submit">Login</x-button>
  </x-form-actions>

  <p>Need an account? <a [routerLink]="['/user/signup']">Sign Up</a></p>
  <p>Forgot password? <a [routerLink]="['/user/reset-password']">Reset password</a></p>
</x-form>
