<x-menu>
  <x-menu-item>
    <a [routerLink]="['/']">
      <x-icon>home</x-icon> Home
    </a>
  </x-menu-item>

  <x-menu-item>
    <a [routerLink]="['/account/quotes']" routerLinkActive="active-link">
      <x-icon>dashboard</x-icon> Quotes
    </a>
  </x-menu-item>

  <x-menu-item>
    <a [routerLink]="['/account/users']" routerLinkActive="active-link">
      <x-icon>contacts</x-icon> Users
    </a>
  </x-menu-item>

  <x-menu-item>
    <a [routerLink]="['/account/profile']" routerLinkActive="active-link">
      <x-icon>account_box</x-icon> Profile
    </a>
  </x-menu-item>
</x-menu>
