@import '../../../assets/colors.scss';

:host {
  display: block;
  left: 0;
  position: fixed;
  top: 7.5rem;
  width: 21.5rem;
}

x-menu {
  display: block;
}

x-menu-item {
  display: block;
  margin: 0;

  x-icon {
    display: inline-block;
    vertical-align: middle;
    width: 8rem;
  }

  a {
    display: block;
    padding: 1.5rem 0;

    &:hover {
      background: darken($background, 5%);
    }

    &.active-link {
      background: $green;
      color: white;
    }
  }
}
