<x-wrapper>
  <x-box>
    <x-box-header>Change password</x-box-header>
    <x-box-content>
      <div *ngIf="isChangePasswordError$ | async" [ngSwitch]="changePasswordErrorCode$ | async">
        <x-form-message preset="error" *ngSwitchDefault>
          Ups, error occured! Try again later.
        </x-form-message>
      </div>

      <x-form-message *ngIf="isChangePasswordSuccess$ | async" preset="success">
        Password changed successfully!
      </x-form-message>

      <qt-user-change-password-form (onSubmit)="userActions.changePassword($event)"></qt-user-change-password-form>
    </x-box-content>
  </x-box>
</x-wrapper>
