<x-wrapper>
  <x-box>
    <x-box-header>Change password</x-box-header>
    <x-box-content>
      <x-form-message *ngIf="isChangePasswordError$ | async" preset="error">
        Error occured! Try again later!
      </x-form-message>

      <x-form-message *ngIf="isChangePasswordSuccess$ | async" preset="success">
        Password changed successfully!
      </x-form-message>

      <qt-user-change-password-form (onSubmit)="userActions.changePassword($event)"></qt-user-change-password-form>
    </x-box-content>
  </x-box>
</x-wrapper>
