@import '../../assets/colors';

:host {
  display: block;
  padding: 8.5rem 0 0 25rem;
}

qt-header {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

:host qt-header x-wrapper {
  max-width: 100%;
}
