@import '../../assets/colors';

:host {
  display: block;
  padding: 5.9rem 0 0;

  /deep/ {
    x-wrapper {
      &.main {
        margin-top: 2.5rem;
      }
    }
  }
}

qt-header {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
