@import '../../assets/colors';

:host {
  background: $blue url('../../assets/images/mountains-863474_1920.jpg') center no-repeat;
  color: $white;
  display: block;
  padding: .5rem 0;

  /deep/ {
    h1 {
      display: inline-block;
      font-family: 'Roboto', sans-serif;
      font-size: 2rem;
      line-height: 1em;
      margin: 0;
    }

    .actions {
      float: right;
    }
  }
}
