<x-wrapper>
  <x-box>
    <x-box-header>Create new :)</x-box-header>
    <x-box-content>
      <x-form-message preset="success" *ngIf="isSaveQuoteSuccess$ | async">Successfully saved.</x-form-message>
      <x-form-message preset="error" *ngIf="isSaveQuoteError$ | async">Error occured!</x-form-message>
      <qt-account-quote-add-form (onSubmit)="quotesActions.saveQuote($event)"></qt-account-quote-add-form>
    </x-box-content>
  </x-box>

  <x-list>
    <x-list-item *ngFor="let quote of (quotesItems$ | async)">
      <x-list-item-content>
        <h1>{{quote.name}}</h1>
        <p>{{quote.content}}</p>
        <p>{{quote.url}}</p>
      </x-list-item-content>

      <x-list-item-actions>
        <div *ngIf="quote.owner === (userId$ | async)">
          <x-button size="normal" preset="neutral"
            (onClick)="quotesActions.showUpdateQuoteModal(quote)">Edit
          </x-button>
          <x-button size="normal" preset="negative"
            (onClick)="quotesActions.showRemoveQuoteConfirm(quote)">Delete
          </x-button>
        </div>
      </x-list-item-actions>

    </x-list-item>
  </x-list>
</x-wrapper>

<x-dialog-confirm *ngIf="isRemoveQuoteConfirmVisible$ | async"
  (onConfirm)="handleRemoveQuote()"
  (onCancel)="quotesActions.removeQuoteConfirmCancel()">
  You are going to remove:<br/>
  <strong>{{removeQuoteItemName$ | async}}.</strong><br/>
  Are you sure?
</x-dialog-confirm>

<x-modal-form *ngIf="isUpdateQuoteModalVisible$ | async">
  <x-form-message preset="error" *ngIf="isUpdateQuoteError$ | async">Error occured!</x-form-message>
  <qt-account-quote-edit-form
    [quoteModel]="updateQuoteItem$ | async"
    (onSubmit)="quotesActions.updateQuote($event)"
    (onCancel)="quotesActions.updateQuoteModalCancel()">
  </qt-account-quote-edit-form>
</x-modal-form>
