<x-wrapper>
  <h1>Quotes</h1>

  <p>
    <x-button preset="positive" (onClick)="quotesActions.saveQuoteModal()">Add new! :)</x-button>
  </p>

  <x-box *ngFor="let quote of (quotesItems$ | async).toJS()">
    <x-box-header>
      {{quote.owner.profile.first_name}} {{quote.owner.profile.last_name}} @ {{quote.createdAt}}
    </x-box-header>

    <x-box-content>
      <h1>{{quote.name}}</h1>
      <p>{{quote.content}}</p>
      <p>{{quote.url}}</p>

      <p *ngIf="quote.owner._id === (userId$ | async)">
        <x-button size="normal" preset="neutral"
                  (onClick)="quotesActions.updateQuoteModal(quote)">Edit
        </x-button>

        <x-button size="normal" preset="negative"
                  (onClick)="quotesActions.removeQuoteConfirm(quote)">Delete
        </x-button>
      </p>

      <div *ngIf="!quote.private">
        Recommends:
        <strong>{{ quote.recommended.length }}</strong>

        <x-button size="normal" preset="positive" *ngIf="quote.recommended.indexOf(userId$ | async) === -1"
                  (onClick)="quotesActions.recommendQuote(quote)">Recommend
        </x-button>

        <x-button size="normal" preset="casual" *ngIf="quote.recommended.indexOf(userId$ | async) !== -1"
                  (onClick)="quotesActions.unrecommendQuote(quote)">Unrecommend
        </x-button>
      </div>
    </x-box-content>
  </x-box>
</x-wrapper>

<x-dialog-confirm *ngIf="isRemoveQuoteConfirmVisible$ | async"
  (onConfirm)="handleRemoveQuote()"
  (onCancel)="quotesActions.removeQuoteConfirmCancel()">
  You are going to remove:<br/>
  <strong>{{removeQuoteItemName$ | async}}.</strong><br/>
  Are you sure?
</x-dialog-confirm>

<x-modal-form *ngIf="isSaveQuoteModalVisible$ | async">
  <x-form-message preset="error" *ngIf="isSaveQuoteError$ | async">Error occured! Try again!</x-form-message>
  <qt-account-quote-add-form
    (onSubmit)="quotesActions.saveQuote($event)"
    (onCancel)="quotesActions.saveQuoteModalCancel()">
  </qt-account-quote-add-form>
</x-modal-form>

<x-modal-form *ngIf="isUpdateQuoteModalVisible$ | async">
  <x-form-message preset="error" *ngIf="isUpdateQuoteError$ | async">Error occured! Try again!</x-form-message>
  <qt-account-quote-edit-form
    [quoteModel]="(updateQuoteItem$ | async).toJS()"
    (onSubmit)="quotesActions.updateQuote($event)"
    (onCancel)="quotesActions.updateQuoteCancel()">
  </qt-account-quote-edit-form>
</x-modal-form>
