@import '../../../assets/colors';

:host {
  background: $white;
  border-bottom: .1rem solid $border;
  display: block;

  /deep/ {
    x-form-input {
      input {
        font-size: 1.6rem;
        padding: .75rem 0;

        &,
        &:hover,
        &:focus {
          border: 0 none;
        }
      }
    }
  }
}
