<x-form [group]="form" (onSubmit)="handleSubmit($event)">
  <x-form-content>
    <x-form-group>
      <x-label>Password</x-label>
      <x-form-input [control]="password" type="password"></x-form-input>
    </x-form-group>
    <x-form-group>
      <x-label>Password confirmation</x-label>
      <x-form-input [control]="password_confirm" type="password"></x-form-input>
    </x-form-group>
    <x-form-error *ngIf="password_confirm.dirty && password_confirm.value !== password.value">
      Password doesn't match confirmation.
    </x-form-error>
  </x-form-content>
  <x-form-actions>
    <x-button type="submit">Reset password</x-button>
  </x-form-actions>
</x-form>
