<x-form [group]="form" (onSubmit)="handleSubmit()">
  <x-form-content>

    <x-form-group>
      <x-label>Password</x-label>
      <x-form-input [control]="password" type="password"></x-form-input>
      <x-form-error *ngIf="(isSubmitted || password.touched) && !password.value">
        Field is required.
      </x-form-error>
      <x-form-error *ngIf="(isSubmitted || password.touched) && password.errors && password.errors.minlength">
        Password is too short (minimum 5 chars).
      </x-form-error>
    </x-form-group>

    <x-form-group>
      <x-label>Password confirmation</x-label>
      <x-form-input [control]="password_confirm" type="password"></x-form-input>
      <x-form-error *ngIf="(isSubmitted || password_confirm.touched) && !password_confirm.value">
        Field is required.
      </x-form-error>
      <x-form-error *ngIf="password_confirm.dirty && password_confirm.value
        && password_confirm.value !== password.value">
        Password doesn't match confirmation.
      </x-form-error>
    </x-form-group>

  </x-form-content>

  <x-form-actions>
    <x-button type="submit" preset="positive">Change password</x-button>
  </x-form-actions>

</x-form>
