<x-form [group]="form" (onSubmit)="handleSubmit()">
  <x-form-content>
    <x-form-group>
      <x-label>Name</x-label>
      <x-form-input [control]="name" placeholder="Name" type="text"></x-form-input>
    </x-form-group>

    <x-form-group>
      <x-label>Quote</x-label>
      <x-form-textarea [control]="content" placeholder="Quote"></x-form-textarea>
    </x-form-group>

    <x-form-group>
      <x-label>Url</x-label>
      <x-form-input [control]="url" placeholder="Url" type="text"></x-form-input>
    </x-form-group>

    <x-form-group>
      <x-form-checkbox [control]="private">private</x-form-checkbox>
    </x-form-group>
  </x-form-content>

  <x-form-actions>
    <x-button (onClick)="onCancel.emit($event)" preset="negative">Cancel</x-button>
    <x-button type="submit" preset="positive">Update</x-button>
  </x-form-actions>
</x-form>
