<x-wrapper>
  <x-box>
    <x-box-header>Sign up</x-box-header>

    <x-box-content>
      <div *ngIf="isSignupError$ | async" [ngSwitch]="signupErrorCode$ | async">
        <x-form-message preset="error" *ngSwitchCase="409">
          Account already exists.
        </x-form-message>

        <x-form-message preset="error" *ngSwitchDefault>
          Ups, error occured! Try again later.
        </x-form-message>
      </div>
      <qt-user-signup-form (onSubmit)="userActions.signup($event)"></qt-user-signup-form>
    </x-box-content>
  </x-box>

  <div>Got an account? <a [routerLink]="['/user/signin']">Sign In</a></div>
</x-wrapper>
