<x-form [group]="form" (onSubmit)="handleSubmit()">
  <x-form-content>
    <x-form-group>
      <x-label>Username</x-label>
      <x-form-input [control]="username" type="text"></x-form-input>
      <x-form-error *ngIf="(isSubmitted || username.touched) && username.errors && username.errors.required">
        Field is required.
      </x-form-error>
      <x-form-error *ngIf="(isSubmitted || username.touched) && username.errors && username.errors.minlength">
        Username is too short (minimum 3 chars).
      </x-form-error>
    </x-form-group>

    <x-form-group>
      <x-label>E-mail</x-label>
      <x-form-input [control]="email" type="email"></x-form-input>
      <x-form-error *ngIf="(isSubmitted || email.touched) && email.errors && email.errors.invalid">
        Type in valid e-mail address.
      </x-form-error>
    </x-form-group>

    <x-form-group>
      <x-label>First Name (optional)</x-label>
      <x-form-input [control]="first_name" type="text"></x-form-input>
    </x-form-group>

    <x-form-group>
      <x-label>Last Name (optional)</x-label>
      <x-form-input [control]="last_name" type="last_name"></x-form-input>
    </x-form-group>

    <x-form-group>
      <x-label>Password</x-label>
      <x-form-input [control]="password" type="password"></x-form-input>
      <x-form-error *ngIf="(isSubmitted || password.touched) && password.errors && password.errors.required">
        Field is required.
      </x-form-error>
      <x-form-error *ngIf="(isSubmitted || password.touched) && password.errors && password.errors.minlength">
        Password is too short (minimum 5 chars).
      </x-form-error>
    </x-form-group>

    <x-form-group>
      <x-label>Password confirm</x-label>
      <x-form-input [control]="password_confirm" type="password"></x-form-input>
      <x-form-error *ngIf="(isSubmitted || password_confirm.touched) && password_confirm.errors
        && password_confirm.errors.required">
        Field is required.
      </x-form-error>
      <x-form-error *ngIf="password_confirm.dirty && password_confirm.value && password_confirm.value
        !== password.value">
        Password doesn't match confirmation.
      </x-form-error>
    </x-form-group>

  </x-form-content>

  <x-form-actions>
    <x-button type="submit" preset="neutral">Create an account</x-button>
  </x-form-actions>
</x-form>
