@import '../../assets/colors';

:host {
  display: inline-block;

  a {
    display: block;
    padding: .5rem 1rem;

    &.active {
      background: $green;
      color: $white;
    }
  }

  .active {
    a {
      background: $green;
      color: $white;
    }
  }
}
