<x-form [formModel]="form" (onSubmit)="handleSubmit()">
  <x-form-header>
    <h1>Create article</h1>
  </x-form-header>
  <x-form-group>
    <x-label>Name</x-label>
    <x-form-input [formControl]="name" type="text"></x-form-input>
  </x-form-group>
  <x-form-group>
    <x-label>Body</x-label>
    <x-form-textarea [formControl]="content"></x-form-textarea>
  </x-form-group>
  <x-form-actions>
    <x-button size="big" preset="positive" type="submit">Save</x-button>
  </x-form-actions>
</x-form>
