<x-form [group]="form" (onSubmit)="handleSubmit()">
  <x-form-content>
    <x-box class="avatar">
      <x-box-content>
        <x-avatar [src]="avatar.value"></x-avatar>
      </x-box-content>

      <x-box-footer>
        <x-tooltip tooltip="Select file">
          <x-file name="avatar" (onChange)="changeAvatar($event)">
            <x-icon size="small">attach_file</x-icon>
          </x-file>
        </x-tooltip>

        <x-tooltip tooltip="Delete avatar">
          <x-button (click)="changeAvatar('')" size="small">
            <x-icon size="small">delete_forever</x-icon>
          </x-button>
        </x-tooltip>
      </x-box-footer>
    </x-box><div class="profile-details">
      <x-form-group>
        <x-label>First Name</x-label>
        <x-form-input [control]="first_name" placeholder="First Name"></x-form-input>
      </x-form-group>

      <x-form-group>
        <x-label>Last Name</x-label>
        <x-form-input [control]="last_name" placeholder="Last Name"></x-form-input>
      </x-form-group>

      <x-form-group>
        <x-label>Bio</x-label>
        <x-form-textarea [control]="bio" placeholder="Bio"></x-form-textarea>
      </x-form-group>
    </div>
  </x-form-content>

  <x-form-actions>
    <x-button preset="neutral" type="submit">Update profile</x-button>
  </x-form-actions>
</x-form>
