<x-form [group]="form" (onSubmit)="handleSubmit()">
  <x-form-content>
    <x-form-group>
      <x-form-input [control]="first_name" placeholder="First Name"></x-form-input>
    </x-form-group>
    <x-form-group>
      <x-form-input [control]="last_name" placeholder="First Name"></x-form-input>
    </x-form-group>
    <x-form-group>
      <x-form-textarea [control]="bio" placeholder="Bio"></x-form-textarea>
    </x-form-group>
  </x-form-content>
  <x-form-actions>
    <x-button preset="positive" type="submit">Send</x-button>
  </x-form-actions>
</x-form>
