<x-form [formModel]="form" (onSubmit)="handleSubmit($event)">
  <x-form-group>

    <x-form-group>
      <x-form-input [formControl]="name" placeholder="Name" type="text"></x-form-input>
    </x-form-group>

    <x-form-group>
      <x-form-textarea [formControl]="content" placeholder="Quote"></x-form-textarea>
    </x-form-group>

    <x-form-group>
      <x-form-input [formControl]="url" placeholder="Url" type="text"></x-form-input>
    </x-form-group>

  </x-form-group>

  <x-form-actions>
    <x-button type="submit">SEND</x-button>
  </x-form-actions>
</x-form>
