@import '../../assets/colors';

:host {
  align-items: center;
  background: $transparency;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 666;
}
