$background: #f7f7f7;
$border: #efeef3;
$dark: #2a3f54;
$text: #73879c;

$black: #000;
$blue: #2f95de;
$gray: #f1f1f1;
$green: #23b497;
$red: #e44a3f;
$white: #fff;

$transparency: rgba(0, 0, 0, .8);
