<x-form [formModel]="form" (onSubmit)="handleSubmit()">
  <x-box>
    <x-box-header>Create new :)</x-box-header>
    <x-box-content>
      <x-form-group>
        <x-form-input [formControl]="name" placeholder="Name" type="text"></x-form-input>
      </x-form-group>
      <x-form-group>
        <x-form-textarea [formControl]="content" placeholder="Quote"></x-form-textarea>
      </x-form-group>
      <x-form-group>
        <x-form-input [formControl]="url" placeholder="Url" type="text"></x-form-input>
      </x-form-group>
      <x-form-actions>
        <x-button preset="positive" type="submit">Send</x-button>
      </x-form-actions>
    </x-box-content>
  </x-box>
</x-form>
