<x-wrapper>
  <qt-dashboard-quote-add (onSubmit)="dashboardActions.saveQuote($event)"></qt-dashboard-quote-add>

  <x-list>
    <x-list-item *ngFor="let quote of dashboard.quotes.items">
      <x-list-item-content *ngIf="!edit">
        <h1>{{quote.name}}</h1>
        <p>{{quote.content}}</p>
        <p>{{quote.url}}</p>
      </x-list-item-content>

      <x-list-item-actions>
        <div *ngIf="quote.owner === userService.userId">
          <x-button size="normal" preset="negative"
            (onClick)="dashboardActions.showRemoveQuoteConfirm(quote)">Delete</x-button>
          <x-button size="normal" preset="positive"
            (onClick)="dashboardActions.showUpdateQuoteModal(quote)">Edit</x-button>
        </div>
      </x-list-item-actions>

    </x-list-item>
  </x-list>
</x-wrapper>

<x-dialog-confirm *ngIf="dashboard.removeQuote.isConfirmVisible"
  (onConfirm)="dashboardActions.removeQuote(dashboard.removeQuote.item)"
  (onCancel)="dashboardActions.removeQuoteConfirmCancel()">
You are going to remove:<br />
<strong>{{dashboard.removeQuote.item.name}}.</strong><br />
Are you sure?
</x-dialog-confirm>

<qt-dashboard-quote-edit *ngIf="dashboard.updateQuote.isModalVisible"
  (onSubmit)="dashboardActions.updateQuote($event)"
  (onCancel)="dashboardActions.updateQuoteModalCancel()">
</qt-dashboard-quote-edit>
