<x-overlay>
  <x-form [formModel]="form" (onSubmit)="handleSubmit()">
    <x-modal-content>
      <x-modal-message>
        <x-form-group>
          <x-form-group>
            <x-label>Name</x-label>
            <x-form-input [formControl]="name" placeholder="Name" type="text"></x-form-input>
          </x-form-group>
          <x-form-group>
            <x-label>Quote</x-label>
            <x-form-textarea [formControl]="content" placeholder="Quote"></x-form-textarea>
          </x-form-group>
          <x-form-group>
            <x-label>Url</x-label>
            <x-form-input [formControl]="url" placeholder="Url" type="text"></x-form-input>
          </x-form-group>
        </x-form-group>
      </x-modal-message>
      <x-modal-actions>
        <x-button (onClick)="onCancel.emit($event)" size="big" preset="negative">Cancel</x-button>
        <x-button type="submit" size="big" preset="positive">Update</x-button>
      </x-modal-actions>
    </x-modal-content>
  </x-form>
</x-overlay>
