@import '../../assets/colors';
@import '../../assets/variables';

:host {
  background: $white;
  border: .1rem solid darken($border, 5%);
  border-radius: $radius;
  display: block;
  margin: 0 0 1rem;
  padding: 1rem 2rem;
  position: relative;
}
