<x-wrapper>
  <x-logo></x-logo>

  <x-menu>
    <x-menu-item>
      <a [routerLink]="['/']">
        <x-icon size="small">home</x-icon>
        <span>Home</span>
      </a>
    </x-menu-item>

    <x-menu-item>
      <a [routerLink]="['/account/quotes']" *ngIf="idToken$ | async" routerLinkActive="active-link">
        <x-icon size="small">dashboard</x-icon>
        <span>Quotes</span>
      </a>
    </x-menu-item>

    <x-menu-item>
      <a [routerLink]="['/account/users']" *ngIf="idToken$ | async" routerLinkActive="active-link">
        <x-icon size="small">contacts</x-icon>
        <span>Users</span>
      </a>
    </x-menu-item>

    <x-menu-item>
      <a [routerLink]="['/account/profile/edit']" *ngIf="idToken$ | async" routerLinkActive="active-link">
        <x-icon size="small">account_box</x-icon>
        <span>Profile</span>
      </a>
    </x-menu-item>
  </x-menu>

  <div class="account-box">
    <x-menu *ngIf="idToken$ | async">
      <x-menu-item>
        <a [routerLink]="['/account/profile/edit']">{{ userEmail$ | async }}</a>
      </x-menu-item>
      <x-menu-item>
        <x-button (onClick)="handleLogoutClick()" preset="neutral">Logout</x-button>
      </x-menu-item>
    </x-menu>

    <x-menu *ngIf="!(idToken$ | async)">
      <x-button (onClick)="handleSigninClick()" preset="positive">Sign in</x-button>
      <x-button (onClick)="handleSignupClick()" preset="neutral">Sign up</x-button>
    </x-menu>
  </div>

  <div class="clearfix"></div>
</x-wrapper>
