@import '../../assets/colors';

:host {
  background: $white;
  border-bottom: .1rem solid $border;
  display: block;
}

x-wrapper {
  min-height: 5.9rem;
  padding: 1.6rem 1rem 0;
  position: relative;
}

x-logo {
  margin: 0 3rem 0 0;
  min-height: 2.6rem;
}

x-logo,
x-top-menu {
  vertical-align: middle;
}

x-menu {
  x-menu-item {
    a {
      display: block;
      font-size: 1.4rem;
      font-weight: 500;

      x-icon,
      span {
        display: inline-block;
        vertical-align: bottom;
      }
    }
  }
}

.account-box {
  float: right;
  margin: -.5rem 0 0;
}
