@import '../../assets/colors';

:host {
  display: block;
  background: #fff;
  padding: 1rem 0;
  border-bottom: 1px solid @grey-2;
}

x-logo {
  margin: 0 3rem 0 0;
}

x-logo, x-top-menu {
  vertical-align: middle;
}

x-menu x-menu-item a {
  display: block;
  font-weight: 700;
  font-size: 1.4rem;
  min-height: 3.1rem;
  line-height: 3.1rem;
  text-transform: uppercase;
}

.account-box {
  float: right;
}
