<x-wrapper>
  <x-logo></x-logo>

  <x-menu>
    <x-menu-item><a [routerLink]="['/']">Home</a></x-menu-item>
    <x-menu-item><a [routerLink]="['/account/dashboard']">Account</a></x-menu-item>
  </x-menu>

  <div class="account-box">
    <x-menu *ngIf="isAuthorized$ | async">
      <x-menu-item>
        <div class="email">{{email$ | async}}</div>
      </x-menu-item>
      <x-menu-item>
        <x-button (onClick)="handleLogoutClick()">Logout</x-button>
      </x-menu-item>
    </x-menu>

    <x-menu *ngIf="!(isAuthorized$ | async)">
      <x-button (onClick)="handleSigninClick()">Sign in</x-button>
      <x-button (onClick)="handleSignupClick()">Sign up</x-button>
    </x-menu>
  </div>
</x-wrapper>
