@import '../../../assets/colors';

@mixin active {
  border-bottom: .3rem solid $green;
}

:host {
  display: inline-block;

  /deep/ a {
    display: block;
    padding: .5rem 2rem;

    &.active {
      @include active;
    }
  }

  /deep/ .active {
    a {
      @include active;
    }
  }
}
