<x-form [group]="form" (onSubmit)="handleSubmit()">
  <x-form-content>

    <x-form-group>
      <x-label>E-mail</x-label>
      <x-form-input [control]="email" type="email"></x-form-input>
      <x-form-error *ngIf="(isSubmitted || email.touched) && email.errors && email.errors.invalid">
        Type in valid e-mail address.
      </x-form-error>
    </x-form-group>

  </x-form-content>

  <x-form-actions>
    <x-button type="submit" preset="neutral">Reset password</x-button>
  </x-form-actions>
</x-form>
